input:disabled, select:disabled, input:read-only{
    background-color: #F1F1F1;
    opacity: 0.7;
}
.form{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 20px;
    box-sizing: border-box;
    color: #333;
}
.form input:focus, select:focus{
	border: 1px solid #3eaff4;
	box-shadow: 0px 0px 2px #3eaff4;
}
.contentFormLine{
    display: flex;
    flex-wrap: wrap;
}
.contentFormLine div.form__contentField{padding: 0 10px;box-sizing: border-box;position: relative;}
.contentFormLine div.form__contentField:first-child{padding-left: 0px;}
.contentFormLine div.form__contentField:last-child{padding-right: 0px;}
.contentFormLine input[type=radio], .contentFormLine input[type=checkbox]{
    margin-left: 15px;
}
.contentFormLine input[type=checkbox]{
    margin-bottom: 10px;
}
.form__labelRadio{
    margin-right: 15px;
}

.form__title{
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}
.form__subTitle{
    font-size: 22px;
    display: block;
    border-bottom: 1px solid #999;
    margin-top: 25px;
    margin-bottom: 10px;
}
.form__titleGroup{
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #999;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}
.form__label{
    display: block;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}
.form__text{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}
.form__input{
    display: block;
    margin: 1px 5px 15px 0;
    color: #333;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFF;
    height: 30px;
    border-radius: 5px;
}
.form__contentRadios{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px 0;
    font-size: 16px;
}

.form__contentBottoms{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.form__bottomRed{
    display: inline-block;
    color: #c72e2e;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.form__bottom{
    display: inline-block;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.form__bottomGreen{
    display: inline-block;
    background-color: #999999;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.form__bottomGreen.active {
    background-color: #008A00;
}
.form__errorLabel{
	width: 100%;
    display: none;
    font-size: 12px;
    color: red;
    position: absolute;
    bottom: 3px;
}
.form__contentSearch{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.form__inputSearch {
    font-size: 20px;
    width: calc(100% - 100px);
    margin: 0;
    display: block;
    color: #333;
    border: 1px solid #999;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 6px;
    box-sizing: border-box;
}
.form__submit {
    margin: 0;
    width: 100px;
    background-color: #1BA1E2;
    color: #FFF;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
}


.backError{
    font-size: 14px;
    color: red;
}
.form__goodMessage{
    color: #008A00;
    display: block;
    width: 70%;
    border: 1px solid #008400;
    padding: 11px;
    box-shadow: 0px 0px 5px;
    background-color: #ebffeb;
    margin: 0 auto;
}
.form__errorMessage{
    color: #c72e2e;
    display: block;
    width: 70%;
    border: 1px solid #c72e2e;
    padding: 11px;
    box-shadow: 0px 0px 5px;
    background-color: #ffe3e3;
    margin: 0 auto;
}
.form__warningMessage{
    color: #c7842e;
    display: block;
    width: 70%;
    border: 1px solid #c7842e;
    padding: 11px;
    box-shadow: 0px 0px 5px;
    background-color: #fff9e3;
    margin: 15px auto;
}
.buttonBox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.buttonBox_button{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #1BA1E2;
    background-color: #e4f6ff;
    text-align: center;
    /*font-weight: bold;*/
    margin: 7px;
    cursor: pointer;
    color: #09384e;
    box-shadow: 3px 3px 3px #999;
    border-radius: 5px;
    text-decoration: none;
}
.buttonBox_button.active{
    background-color: #1BA1E2;
    color: #FFF;
}
.paymentMethod{
    display: none;
    position: relative;
}
.form__listSelected{
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #999;
}
.form__listSelected_li{
    padding: 3px 5px 3px 15px;
    cursor: pointer;
}
.form__listSelected_li.active{
    background-color: #1BA1E2;
    color: #FFF;
}
.print_form__listSelected_li{
    padding: 3px 5px 3px 15px;
    cursor: pointer;
    display: flex;
}
.print_form__listSelected_li span{
    display: block;
}
.print_form__listSelected_li.active{
    background-color: #1BA1E2;
    color: #FFF;
}

.optionSelection{
    display: flex;
}
.optionSelection label{
    border: 1px solid #999;
    width: 50%;
    text-align: center;
    margin: 1px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.optionSelection label:hover{
    background-color: #dff4ff;
}

.optionSelection input[type="radio"]:checked+label{ 
    font-weight: bold;
    border: 1px solid #2ea2e2;
    background-color: #2ea2e2;
    color:#FFF;
    cursor: default;
} 

.optionSelection input[type="radio"][disabled]:checked+label{ 
    font-weight: bold;
    border: 1px solid #999;
    background-color: #999;
    color:#FFF
}

.checkBox{
    width: 17px;
    height: 17px;
    margin: -3px 0px 0px 0px;
}


@media (max-width: 767px) {
    .form__contentBottoms{
        justify-content: space-around;
    }
}

#prodColor {
   
    width: 200px;
    margin-bottom: 16px;
}


#botonSeleccion {
    display: block; /* Para que ocupe el ancho completo */
    margin-left: auto;
    margin-right: auto;
    background-color: grey; 
    height: 50px;
    width: 100px;
    border-radius: 10px;
}
