html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:focus,*:hover{
    outline:none;
}
input[type=text]:focus, input[type=password]:focus{
	border: 1px solid #3eaff4;
	box-shadow: 0px 0px 2px #3eaff4;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}

.cleanBox{
	clear: both;
}
.w100{width: 100px!important;}
.w300{width: 300px!important;}
.w500{width: 500px!important;}
.w550{width: 550px!important;}
.w600{width: 600px!important;}
.w700{width: 700px!important;}
.w800{width: 800px!important;}

.c1{ width: 8.33%!important; }
.c2{ width: 16.66%!important; }
.c3{ width: 24.99%!important; }
.c4{ width: 33.32%!important; }
.c5{ width: 41.65%!important; }
.c6{ width: 49.98%!important; }
.c7{ width: 58.31%!important; }
.c8{ width: 66.64%!important; }
.c9{ width: 74.97%!important; }
.c10{ width: 83.3%!important; }
.c11{ width: 91.63%!important; }
.c12{ width: 99.96%!important; }

.bold{font-weight: bold;}
.hide{display: none;}
.center{text-align: center;}
.mcenter{margin: 0 auto;}
.left{text-align: left;}
.right{text-align: right;}

.warningMessage{
	max-width: 860px;
    min-width: 250px;
	color: #00669a;
    background-color: #dff4ff;
    border: 1px solid #2ea2e2;
	padding: 5px;
	text-align:center;
	margin: 10px auto;
	border-radius: 3px;
}

@font-face {
	font-family: 'Roboto';
	src:  url('/static/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype')
  }

.fz14{font-size: 14px!important;}

.header{
	width: 100%;
	height: 70px;
	background: linear-gradient(0deg, rgba(27,161,226,1) 79%, rgba(132,196,226,1) 99%);
}
.header__logo{
	height: 75px;
	margin: 0 10px;
}
.header__info{
	width: 370px;
	float: right;
	margin: 10px 15px;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	text-align: right;
}
.header__text{
	color: #FFF;
	margin: 1px 0 0 5px;
    display: inline-block;
}
.header__sucursal{
	font-weight: bold;
	font-size: 20px;
	text-align: right;
}

.header__logout{
	bottom: 10px;
	color: #fbcd00;
	font-size: 12px;
    font-weight: bold;
}


.label__error{
	width: 200px;
    margin: 3px auto 0 auto;
    display: block;
    top: -17px;
    font-size: 12px;
    color: red;
    display: none;
}

.label__error__cut{
	width: 300px;
    margin: 3px auto 0 auto;
    display: block;
    top: -17px;
    font-size: 15px;
    color: red;
    display: none;
}

.inputError{
	border: 1px solid #FF0000!important;
	box-shadow: 0px 0px 2px #FF0000!important;
}


.contentCard{
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
	min-width: 250px;
}

/****
	CARD
****/
.card{
	width: 200px;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 3px 3px 5px #DDD;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #666;
	color:#666;
	cursor: pointer;
	margin-bottom: 20px;
	/*background: #BBBBBB33;*/
	background: rgb(218,218,218);
    background: linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(239,239,239,1) 25%);
    box-sizing: content-box;
    display: flex;
	align-items: center;
	text-decoration: none;
	flex-wrap: wrap;
	height: fit-content;
	font-family: 'Roboto';
}
div.card{
	cursor: default;
}
	.card__contentImg{
		background:  #666;
	}
	.m__card__blue .card__contentImg{
		background:  #008ed6;
		
	}
	.m__card__yellow .card__contentImg{
		background:  #FF6F00;
	}
	.card:focus{
		box-shadow: 0px 0px 5px #666;
	}
	.m__card__blue:focus{
			box-shadow: 0px 0px 5px #3eaff4;
		}
.card__contentImg{
	float: left;
	width: 41px;
	height: 41px;
}
.card__img{
	width: 20px;
	height: 20px;
	margin: 10px 9px;
}
.card__text{
	display: block;
    float: left;
    width: calc(100% - 62px);
    box-sizing: content-box;
	padding: 0 10px;
}
.card__contentLiters{
	width: 100%;
	float: left;
}
.card__contentLitters__liters{
	background: #FFF;
    width: 20%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border: 1px solid #666;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
}
.card__contentLiters .active{
	background: #1BA1E2;
	color: #FFF;
	cursor: default;
}
.card__contentLiters .inactive{
	background: #DDD;
	color: #999;
}
.artitles .card{
	cursor: default;
}
.card_cQuantity{
	width: 100%;
	float: left;
	border-top: 1px solid #666;
}
.card__cQuantity__text{
	width: 30%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.card__cQuantity__operator__res, .card__cQuantity__operator__sum{
	width: 20%;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    float: left;
    text-align: center;
    cursor: pointer;
}
.card__cQuantity__input{
	width: 30%;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    float: left;
    font-size: 27px;
    border-top: none;
	border-bottom: none;
	color: #333;
}
.outOfStock{
	color: #A70000 !important;
}
.card__addToCar{
	width: 100%;
	float:left;
	color: #666;
	background: #DDD;
	text-align: center;
	padding: 11px 0;
}
.card__addToCar.Active{
	color: #FFF;
	background: #1BA1E2;
	cursor: pointer;
}


.card2{
	width: 200px;
	/*font-family: Arial;*/
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 3px 3px 5px #DDD;
	margin: 0 10px 20px 10px;
	border: 1px solid #666;
	color:#666;
	/*background: #BBBBBB33;*/
	background: rgb(218,218,218);
    background: linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(239,239,239,1) 25%);
    box-sizing: content-box;
    display: flex;
	align-items: center;
	text-decoration: none;
	flex-wrap: wrap;
	height: fit-content;
	font-family: 'Roboto';
}
.card2__head{
	display: block;
	padding: 15px;
}
.card2__price{
	display: block;
	padding: 5px 5px 10px 5px;
}
.card__iQuantity{
	width: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #666;	
    font-size: 16px;
    color: #333;
}

/****
	MODAL EMPLOYEE
****/
.modal{
	width: 500px;
	background-color: #DDD;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	padding: 25px 20px 35px 20px;
}
.modal__content{
	font-family: arial;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000AA;
	align-items: center;
	display: none;
	z-index: 5;
}
.modal__active{
	display: flex;
}
.modal__text{
	display: block;
	text-align: center;
	font-size: 16px;
	color: #333;
	padding-bottom: 5px;
}
.modal__input{
	width: 200px;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    padding: 3px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #666;
}
.modal__input:focus {
	border: 1px solid #3eaff4;
	box-shadow: 0px 0px 2px #3eaff4;
}
.modal__bottom{
	display: block;
    width: 200px;
    margin: 35px auto 25px auto;
    background-color: #008A00;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
}
.modal__close, .subMenuM_close{
	color: #FFF;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    font-weight: bold;
    background: #999;
	padding: 1px 8px 2px 8px;
    border-radius: 20px;
	cursor: pointer;
	border: 1px solid #777;
	text-decoration: none;
	z-index: 2;
}
.modal__title{
	color: #333;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 25px;
}
.modal__label{
	display: block;
	margin-top: 10px;
	color: #666;
	font-size: 14px;
}
.modal__link{
	font-size: 14px;
	color: #333;
	
}
.modal__contentArtitle{
	display: flex;
	justify-content: space-between;
	margin: 0 25px;
}
.modal__inputModal{
	width: 100%;
	display: block;
	margin: 1px 5px 15px 0;
	color: #333;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #999;
	background-color: #FFF;
	box-sizing: border-box;
}
.modal__inputModal[readonly]{
	font-weight: bold;
	background-color: #DDD;
	border: none;
	padding: 0 5px;
}
.moda__contentQuantity{
	width: 100px;
}
.moda__quantity__sum, .moda__quantity__res{
	width: 29.5%;
	border: 1px solid #777;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    float: left;
    text-align: center;
	cursor: pointer;
	height: 27px;
	color: #FFF;
	background-color: #999;
}
.moda__quantityInput{
	width: 40%;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid #777;
    border-bottom: 1px solid #666;
    float: left;
    font-size: 20px;
    border-left: none;
	border-right: none;
	color: #333;
	font-weight: bold;
}
.modal__contentBottoms{
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	flex-wrap: wrap;
}
.modal__bottomGreen{
	display: inline-block;
    background-color: #999999;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.modal__bottomBlue{
	display: inline-block;
    background-color: #1BA1E2;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
	margin-right: 3em;
	font-weight: bold;
	cursor: pointer;
}

.modal__bottomGreen.active{
	background-color: #008A00;
}
.modal__bottomGreen.desabled{
	background-color: #838383;
}

.modal__bottomRed{
	display: inline-block;
    color: #c72e2e;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
#modal__contentColorName{
	display: none;
}
.modal__table{
	font-size: 16px;
	text-align: left;
	max-height: 400px;
	display: block;
	overflow-y: auto;
	color: #333;
}
.modal__table th{
	font-weight: bold;
	font-size: 14px;
	color: #666;
}
.modal__table tr{
	border-bottom: 1px solid #AAA;
}
.modal__table td{
	padding: 5px 0 3px 0;
}
.modal__table td:first-child{
	text-align: center;
}
.modal__table thead, .modal__table tbody{
	width: 100%;
	display: block;
}
.modal__table tr{
	width: 100%;
	display: flex;
}
.modal__table label{
	display: block;
}
.modal__contentSwitch{
	width: 150px;
	height: 30px;
	display: flex;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #666;
	color: #333;
	margin-top: 5px;
}
.modal__switch{
	width: 50%;
	padding: 8px 0;
	cursor: pointer;
}
.modal__switch.active{
	background: #666;
	color: #FFF;
	cursor: default;
}
.modal__deleteRecovery{
	color: #c72e2e;
}

.accessKey{
	font-family: arial;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000AA;
	align-items: center;
	display: none;
	z-index: 5;
}
.accessKey__modal{
	background-color: #ececec;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	padding: 25px 20px 35px 20px;
}
.accessKey_title{
	font-size: 26px;
	font-family: 'Roboto';
	padding-bottom: 20px;
    display: block;
}
.accessKey_content{
	display: flex;
	flex-wrap: wrap;
}
.accessKey_transaction{
	padding-right: 10px;
	box-sizing: border-box;
	box-sizing: border-box;
}
.accessKey_data{
	padding-left: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.accessKey_ticket{
	background-color: #FFF;
	min-height: 146px;
	max-height: 500px;
	border: 1px solid #b9b9b9;
	font-family: monospace;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.accessKey_text{
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
}
.accessKey_label{
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
.accessKey_keyRequired{
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto';
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
    color: #414141;
}
.accessKey_input{
	font-size: 16px;
    padding: 5px;
}


/***
	NEW SALES
****/
.selectProducts{
	width: 75%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 51px;
    padding-top: 15px;
}
#contentProductsAddToCar{
	padding-bottom: 0px;
}
.search_cash{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}
.search_cash__movs{
	font-size: 20px;
	margin: 25px 0;
	display: block;
	color: #333;
	border: 1px solid #999;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 6px;
}
.search{
	width: 75%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.search__newSale{
	font-size: 20px;
	width: 70%;
	margin: 25px 0;
	display: block;
	color: #333;
	border: 1px solid #999;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 6px;
}
.search__submit{
	margin: 25px 0;
	background-color: #1BA1E2;
	color: #FFF;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 6px 15px;
	cursor: pointer;
}
.sideBar{
	width: 25%;
	min-width: 250px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	border-left: 1px solid #999;
	/*background-color: #ffffd2;*/
	background-color: #EFEFEF;
}
.contentClientList{
	overflow: auto;
    max-height: calc(100% - 128px);
}
.bottomBar{

	left: 0%;
	position: fixed;
	width: calc(75% - 1px);
	bottom: 0%;
	border-top: 1px solid #999;
	height: 50px;
	background-color: #EFEFEF;
	
}
.text__link{
	color: #333;
	margin: 17px 15px 10px 15px;
    display: inline-block;
}
	.m__link__left{
		float: left;
	}
	.m__link__right{
		float: right;
	}




.clientBox{
	padding: 15px 10px;
	border-bottom: 1px solid #999;
	display: none;
}
.sideBar__title{
	font-size: 12px;
	color: #666;
	display: block;
}
.sideBar__text{
	display: block;
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
}
.ticketBox{
	padding: 15px 10px;
}
.totalCountBox{
	
	padding: 15px 0px;
	margin-bottom: 0%;
	margin: 0px 10px;
	border-top: 1px solid #999;
	bottom: 0px;
	position: relative;
	width: calc(100% - 21px);
	display: flexbox;
}
.totalTicket{
	color: #666;
	float: left;
	font-size: 18px;
    padding-top: 10px;
}
.totalToPay{
	color: #000;
	font-size: 30px;
	float: right;
	font-weight: bold;
}
.bottomContinuar{
	display: block;
	width: 90%;
	margin: 45px auto 10px auto;
	background-color: #999999;
	color: #FFFFFF;
	font-size: 20px;
	padding: 10px 0;
	border-radius: 5px;
    border: none;
}
.bottomContinuar.active{
	background-color: #008A00;
}
.ticket__title{
	font-size: 24px;
	margin: 25px auto 15px auto;
}
.ticket__itemContent{
	font-size: 14px;
	color: #333;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 10px 0px;
}
.ticket__item__amount{
	width: 30px;
	text-align: right;
}
.ticket__item{
	width: calc( 100% - 115px);
	padding: 0 5px;
}
.ticket__item__price{
	width: 75px;
	text-align: right;
}

.breadcrumbs{
	width: 75%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.breadcrumbs__element{
	font-size: 13px;
    padding: 5px;
    color: #666;
}
.breadcrumbs__separator{
	font-size: 12px;
	padding-top: 6px;
	font-weight: bold;
}




/**************************
*** TABLAS
***************************/
.table{
	width: 100%;
	margin: 25px 0;
}
.table_head{
	text-align: left;
	font-weight: bold;
	color: #666;
	background-color: #DDD;
	padding: 15px;
	border-right: 1px solid #999;
}
.table thead tr{
	border: 1px solid #999;
}
.table tbody tr{
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	font-size: 14px;
}
.table tbody tr:last-child{
	border-bottom: 1px solid #999;
}
.table_head:last-child{
	border-right: none;
}
.table td{
	padding: 5px;
	border-right: 1px solid #999;
}
.table td:last-child{
	border-right: none;
}
.table tr:nth-child(2n){
	background-color: #EEE;
}
.blockScreen {
    width: 100%;
    position: fixed;
    top: 70px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #FFF;
	opacity: 0.2;
	display: none;
}
.loading{
	width: 100%;
	/*background-color: #000000;
	opacity: .7;*/
	display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
	right: 0;
	color: #FFF;
	align-items: center;
	justify-content: center;
	z-index: 100;
}
.loading div{
	font-size: 35px;
    background-color: #585858;
    opacity: 0.8;
    padding: 35px;
    border-radius: 10px;
}
.sinInventario{
	margin: 10px 0 30px 0;
	display: none;
}

.sinInventario_row{
	padding: 6px 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CCC;
}
.contentReturns{
	display: flex;
	flex-wrap: wrap;
}
.retrunsReason{
	padding: 30px;
	box-sizing: border-box;
}
.exchange{
	display: flex;
	flex-wrap: wrap;
}
.especialProcesses_content{
	display: flex;
    flex-wrap: wrap;
	margin-top: 50px;
	justify-content: center;
}
.especialProcesses_content > a{
	text-decoration: none;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.sale_iframeClient{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #FFF;
}
.stock__liQueryResult{
	display: flex;
	flex-wrap: wrap;
}
.table_ul{
	margin: 25px auto;
}
.table_li_header{
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	
}
.table_cell_header{
	padding: 7px;
	box-sizing: border-box;
	background-color: #2ea2e2;
    border: 1px solid #FFF;
    color: #FFF;
}
.table_li{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #dedede;
}
.table_li:hover{
	background-color: #dff4ff;
}
.table_cell{
	padding: 3px 7px;
	box-sizing: border-box;
}

/**************************
*** ELEMENTOS MOBILE
***************************/
.menuM{
	display: none;
}
.subMenuM_close{
	display: none;
}

/**************************
*** TICKET
***************************/
.ticket{
    width: 450px;
    margin: 20px auto;
    border: 1px solid #666;
    padding: 20px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 5px 5px 6px #999;
    background: #FFF;
    max-height: 600px;
    overflow: auto;
    word-break: break-word;
    white-space: normal;
}

.ticket_content{
    background: #EEE;
    padding: 20px 0;
    margin: 20px 0;
}



/* Tablets en horizonal y escritorios normales */
@media (max-width: 1199px) {
	.modal__content{
		align-items: flex-start;
	}
	.modal {
		margin: 50px auto 0 auto;
	}
	.selectProducts{
		width: 100%;
	}
	.breadcrumbs{
		width: 100%;
	}
	.search{
		width: 100%;
	}
	.card{
		width: 160px;
	}
	.card__contentImg{
		display: none;
	}
	.card__text{
		width: 100%;
		padding: 15px 10px;
	}
	.menuM{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #FFF;
		border-top: 1px solid #666;
		box-shadow: 0px 3px 14px #666;
	}
	.menuM_item{
		width: 50px;
		position: relative;
		text-align: center;
	}
	.menuM_item img{
		width: 30px;
	}
	.menuM_item_circle{
		background: #1BA1E2;
		padding: 5px;
		border-radius: 24px;
		width: 15px;
		height: 15px;
		display: block;
		text-align: center;
		color: #FFF;
		top: -4px;
		position: absolute;
		right: -7px;
		font-size: 14px;
		display: none;
	}
	.menuM_logo{
		height: 50px;
	}

	.bottomBar {
		position: fixed;
		width: 100%;
		height: 100%;
		bottom: 0;
		top: 0;
		border-top: unset;
		background-color: #EFEFEF;
		z-index: 1;
		left: -100%;
		transition: left 1s;
		padding-top: 70px;
	}
	.sideBar {
		width: 100%;
		height: 100%;
		position: fixed;
		top: unset;
		bottom: -130%;
		border-left: unset;
		background-color: #EFEFEF;
		z-index: 1;
		transition: bottom 1s;
		padding-top: 10px;
		box-sizing: border-box;
	}
	.m__link__left, .m__link__right{
		float: unset;
		display: block;
		text-decoration: none;
		font-size: 18px;
		border-top: 1px solid #AAA;
		margin: unset;
		padding: 15px 30px;
	}
	.subMenuM_close{
		display: block;
	}
	
 }
 
 @media (min-width: 1200px) {
	/* Reglas de estilo para pantallas con un ancho mínimo de 1200px o más */
	.bottomBar{
		left: 0;
	}
  }
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
	.m_c1{ width: 8.33%!important; }
	.m_c2{ width: 16.66%!important; }
	.m_c3{ width: 24.99%!important; }
	.m_c4{ width: 33.32%!important; }
	.m_c5{ width: 41.65%!important; }
	.m_c6{ width: 49.98%!important; }
	.m_c7{ width: 58.31%!important; }
	.m_c8{ width: 66.64%!important; }
	.m_c9{ width: 74.97%!important; }
	.m_c10{ width: 83.3%!important; }
	.m_c11{ width: 91.63%!important; }
	.m_c12{ width: 99.96%!important; }
	.header{
		height: auto;
	}

	.header__logo{
		display: block;
		margin: 0 auto;
	}
	.header__info{
		float: none;
		display: none;
	}
	.modal {
		width: 100%;
		background-color: #DDD;
		margin: unset;
		border-radius: unset;
		position: unset;
		padding: 25px 20px 35px 20px;
		height: calc(100% - 45px);
		overflow: scroll;
	}
	.w550 {
		width: 100%!important;
		overflow: scroll;
    	height: 100%;
	}
	.selectProducts{
		width: 100%;
	}
	.search{
		width: 100%;
	}

	.searchClienteSection .c4{
		width: 100%!important;
	}
	.searchClienteSection .c4 .form__contentRadios{
		justify-content: flex-start;
	}
	.modal__table tr{
		flex-wrap: wrap;
	}
	.contentFormLine div.form__contentField:first-child{
		padding-left:10px!important;
	}
	.contentFormLine div.form__contentField:last-child{
		padding-right: 10px!important;
	}
	.form_min{
		width: 80%!important;
	}
 }
 
 /* Móviles en vertical */
@media (max-width: 480px) {
	.ticket{
		width: 320px;
		font-size: 10px;

	}
	.form_min{
		width: 100%!important;
	}
}

@media (max-width: 320px) {
	.modal{
		padding: 25px 0;
	}
}

/* @media only screen and (max-width: 900px) {
	.sideBar{
		top: unset;
		right: unset;
		width: 100%;
		height: 109px;
		position: fixed;
	}
	.clientBox, .ticketBox, .bottomBar{
		display: none;
	}
	.selectProducts{
		width: 100%;
		padding-bottom: 110px;
	}
	.search{
		width: 100%;
	}
	.totalCountBox{
		padding: 5px 0px;
	}
} */
 /* Estilos para resaltar la fila seleccionada */

@media print{ .header{display: none;} }

.quitarClienteButton {
    position: relative;
    bottom: 10px;
    right: 10px;
    transform: scale(0.8);
    background-color: red;
    color: white;
}


/* Estilo para el input */
#claveProd {
    width: 70%;
    border: 1px solid #ccc; /* Borde gris */
    padding: 10px;
    border-radius: 5px 0 0 5px; /* Esquinas izquierdas redondeadas */
}

/* Estilo para el botón */
#modal__guardarCheckSKU {
    background-color: #1BA1E2; /* Color azul típico */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 0 5px 5px 0; /* Esquinas derechas redondeadas */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
    width: 5em;
}

/* Estilo base del botón */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Estilo para botones primarios */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilo para botones secundarios */
.btn-secondary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

/* Estilo para botones de éxito */
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1e7e34;
}

/* Estilo para botones de peligro */
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
