{% extends 'base_header.html' %}
{% load static %}

{% block head %}
	<title>Tasa de cambio</title>  
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}


{% block content %}
<body>
    
    <div class="form">
        <h2 class="form__title">Conversor de Moneda</h2>
        <label class="form__subTitle" for="amount">Cantidad en USD:</label>
        <input class="form input" type="text" id="moneyInput" placeholder="Ingresa una cantidad" />
    </div>

    <div class="form">
    <h3 class="form__title">Tasas de Cambio</h3>
    <p class="form__label">Tasa de Cambio (ExchangeRate): <span id="rateSource1">Cargando...</span></p>
    <p class="form__label">Tasa de Cambio (Open Exchange): <span id="rateSource2">Cargando...</span></p>

    </div>
</body>

{% endblock %}



{% block modals %}
{% endblock %}

